:local {
  .container {
    position: absolute;
    top: 30%;
    left: 25px;
    text-align: left;
    width: calc(100% - 2 * 30px);
  }

  .container h2 {
    font-size: 0.8em;
    text-transform: uppercase;
  }



  .container {
    label {
      display: block;
      position: relative;
      text-align: left;

      > span {
        padding: 5px 0;
        font-size: 0.8em;
        display: block;
      }

      input[type="text"], input[type="url"], input[type="email"] {
        display: block;
        width: 100%;
        border: 1px solid lighten(rgb(71, 0, 104), 10%);
        background: darken(rgb(71, 0, 104), 7%);
        color: #fff;
        padding: 5px;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      input[type="url"] + button, input[type="email"] + button {
        position: absolute;
        background: none;
        bottom: 1px;
        right: -11px;
        border: none;
        color: #fff;
        cursor: pointer;
        height: 28px;
        width: 29px;

        &:hover {
          background: lighten(rgb(71, 0, 104), 10%);
        }

        &:active {
          background: darken(rgb(71, 0, 104), 20%);
        }
      }

      input[type="url"] {
        padding-right: 30px;
        width: calc(100% - 25px);
      }
    }

    ul {
      padding: 0;
      margin: 0;

      font-size: 0.8em;

      > li {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }
  }
}
